.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-right: 12px;
    perspective-origin: right top;
    top: 65px;
    bottom: 0;
    width: 240px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 99;
    padding-right: 8px;
}