.wrapper{
    // overflow-x: hidden;
    // overflow-y: auto;
    // overscroll-behavior-y: contain;
    // perspective: 1px;
    // transform-style: preserve-3d;
    // perspective-origin: right top;
    // top: 65px;
    // bottom: 0;
    width: 240px;
    background: rgba(255, 255, 255, 1);
    // position: fixed;
    // z-index: 99;
    margin-top: 10px;
    padding: 10px;
    .menu-list{
        padding: 0;
        margin: 0;
        list-style: none;
        padding-bottom: 10px;
        li{
            padding: 12px;
            cursor: pointer;
            border-radius: 4px;
            .menu-link{
                align-items: center;
                display: flex;
                text-decoration: none;
            }
            .icon{
                margin-right: 12px;
            }
            .text{
                font-size: 20px;
                line-height: 22px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.87);
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.04);
            }
            .active{
                color: #EB5757;
            }
        }
    }

    .state-login{
        padding: 12px;
        .login{
            width: 100%;
        }
    }
}
