*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --default-layout-header-height: 60px
}

body{
  display: block;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.dark{
  background-color: #000;
  color: #fff
}
.text-error{
  color: red;
}

.label{
  display: block;
}

.form-control{
  padding: 8px;
}